
.provoder-list-body {
    background-color: white;
}

.bread-crumb {
    background-color: #F1F4F6;
    padding: 5px; 
    padding-left: 15px;
    border-bottom: 1px solid #E0E1E2;
}

.search-content {
    padding: 2%;
    background-color: #F1F4F6;
    border-right: 1px solid #E0E1E2;
}

.search-input {
    width: 100%;
}

.input-ul {
    list-style: none;
    padding: 0%;
}

.input-checkbox {
    font-size: 10px;
}

.input-label {
    font-size: 9px;
    font-weight: bold;
}

.h5-style{
    color: #696A6A;
}

.request-appointment{
    height: 30px;
    border: 2px solid #6D8496; 
    border-radius: 15px; 
    color: #6D8496; 
    font-size: 10px; 
    font-weight: bold;
}

.tab-pane{
    background-color: #ffffff;
    color: #000000; 
    padding: 10px;
}

.font{
    color: #696A6A;
}

.contact-num{
    font-size: 20px;
    font-weight: bold; 
    color: #0F6AB6;
}

.checkbox-custom-color {
    color: #AEB1B1;
}