.provoder-list-body
{
    width: 100%;
    background-image: url('../../assets/images/background-image.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;    
}

.search-container {  
    margin-top: 50px;
    background-color: #2b6cb1d7;
    border-radius: 10px;
    padding: 50px 10px;
}

.search-container div {
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
}

.search-container div h1 {
    color: rgb(255, 255, 255);
}

.search-container div h3 {
    color: rgb(255, 255, 255);
}

/* *****************Tabs**********************/

.card-container > .ant-tabs-card > .ant-tabs-content {
    margin-top: -16px;
  }
  
  .card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
    background: #fff;
    padding: 16px;
  }
  
  .card-container > .ant-tabs-card > .ant-tabs-bar {
    border-color: #fff;
  }
  
  .card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
    border-color: transparent;
    background: transparent;
  }
  
  .card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
    border-color: #fff;
    background: #fff;
  }