
.side-bar-div {
    background-color: lightskyblue;
}
/* .title-sidebar {
    background-color: #2c61ad;
    border-bottom: 2px #E0E0E0;
} */
.sidebar-tabs {
    margin-top: 20px;
    background-color: lightskyblue;
    border-bottom: 2px #E0E0E0;
}