.header-bar
{
    background-color: #2c61ad;
    color: white;
    height: 50px;
}

.header-logo
{
    margin-left: 20px;
}

.navbar 
{
    display: flex;
    justify-content: flex-end;
    padding-right: 10px; 
}

.navbar-links
{
    display: block;
    list-style: none;
}

.navbar-links li {
    display: inline-block;
    margin: 5px;
    font-size: 10px;
    margin-top: 20px;
}
.navbar-links li:hover {
    cursor: pointer;
    margin-top: 20px;
    border-bottom: 3px solid white;
}

.vl {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-left: 2px solid white;
    height: 40px;
    margin-top: 5px;
}

.provider-button
{
    background-color: white;
    color: #2c61ad;
    border-radius: 50px;
    border: none;
    font-size: 10px;
    text-transform: uppercase;
}