.footer {
    display: flex;
    justify-content: space-around;
    background-color: #f6f9fc;
}
.footer-logo-container {
    padding-top: 30px;
}

.links-title h4 {
    padding-top: 30px;
    font-weight: bold;
    color: #565758;
}

.links-list ul{
    list-style-type: none;
    padding: 0px;
}

.links-list li {
    font-size: 12px;
}

/* .footer-logo {

} */

.footer-logo-text {
    font-size: 10px;
}

.copy-right-container {
    font-size: 12px;
    padding-top: 5px;
}

.terms-privacy {
    list-style-type: none;
}

.terms-privacy li {
    display: inline;
    font-size: 10px;
    padding: 5px;
}

.footer-div{
    margin-top: 12px;
    padding-left: 4px;
    padding-right: 4px;
}