
.provoder-list-body{
    height: auto;
    /* margin-bottom: 50%; */
}
.row-container {
    display: flex;
    padding-bottom: 700px;
    justify-content: center;
    align-items: center;

}

.div-container{
    margin-top: 34%;
    width: 100%;
    height: 250px;
    border-radius: 30px;
    opacity: 0.9;
}
.card-container > .ant-tabs-card > .ant-tabs-content {
    height: auto;
    margin-top: -16px;
    border: 2px gray;
  }
  
  .card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
    background: #fff;
    padding: 16px;
    border: 2px gray;
  }
  
  .card-container > .ant-tabs-card > .ant-tabs-bar {
    border-color: gray;
  }
  
  .card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
    border-bottom:  #fff;
    background: transparent;
  }
  
  .card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
    border-color: gray;
    background: #fff;
  }

  .text-style{
    color: #ffffff;
    text-align: center;
    font-family: arial;
  }

  .h6-style{
    color:#ffffff;
    font-family: arial;
  }

  .button-style{
    /* height: 30px; */
    border: 2px solid #6D8496;
    border-radius: 15px;
    color: #6D8496;
    font-size: 12px;
    display: inline;
  }

  .collapse-tab{
    background-color: #5C96C6;
    border: 0px;
    width: 100%;
    height: auto;
  }

  .button-style2{
    /* height: 30px; */
    border: 2px solid #6D8496;
    border-radius: 15px;
    background-color:#4D5DE3;
    color:#ffffff;
    font-size: 12px;
    display: inline;
  }
