
.provoder-list-body {
    background-color: white;
}

.bread-crumb {
    background-color: #F1F4F6;
    padding: 5px; 
    padding-left:15px;
    border-bottom:1px solid #E0E1E2;
}

.search-content {
    padding: 2%;
    background-color: #F1F4F6;
    border-right: 1px solid #E0E1E2;
}

.search-input {
    width: 100%;
}

.input-ul {
    list-style: none;
    padding: 0%;
}

.input-checkbox {
    font-size: 10px;
}

.input-label {
    font-size: 9px;
    font-weight: bold;
}

.advance-search {
    font-size: 12px;
    margin-top: 30px;
    margin-bottom: 20px;
    cursor: pointer;
}

.input-spacing {
    margin-bottom: 12px;
}

.profile-list{
    box-shadow: 0px 0px 5px #919eab;
    padding: 8px;
    border-radius:'5px';
    margin: 15px 10px;
    height: 140px;
}

.profile-img-container {
    height: 120px;
}

.profile-img {
    height: 100%;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
}


.view-profile{
    height: 25px;
    border: 2px solid #6D8496;
    border-radius: 12px;
    color: #6D8496; 
    font-size: 10px;
}

.profile-list-call-container {
    margin-top: 30%;
}

.profile-list-call {
    padding: 0%;
    margin: 0%;
}

.profile-list-call-text {
   font-size: 10px;
}

.search-result-body {
    background-color: #ffff;
}

.search-result-body-setting {
    margin-top: 20px;
    padding: 0px 10px;
}

.search-result-number {
    margin: 0px;
    padding: 0px;
}

.pagination-container {
    margin: 20px 0px;
}


@media screen and (max-width: 767px)
{
    .filter-result {
        display: flex;
        justify-content: center;
    }
    .filter-result > h1{
        padding: 0px;
        margin: 0px;
    }
}