
.provoder-list-body {
    background-color: white;
}

.bread-crumb {
    background-color: #F1F4F6;
    padding: 5px; 
    padding-left:15px;
    border-bottom:1px solid #E0E1E2;
}

.search-content {
    padding: 2%;
    background-color: #F1F4F6;
    border-right: 1px solid #E0E1E2;
}

.search-input {
    width: 100%;
}

.input-ul {
    list-style: none;
    padding: 0%;
}

.input-checkbox {
    font-size: 10px;
}

.input-label {
    font-size: 9px;
    font-weight: bold;
}

.advance-search {
    font-size: 12px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.input-spacing {
    margin-bottom: 12px;
}

.profile-list{
    box-shadow: 0px 0px 5px #919eab;
    padding: 8px;
    border-radius:'5px';
    margin: 15px 10px;
    height: auto;
}

.h4-card {
    margin: 0px;
    padding: 0px;
}

.h5-card {
    display: inline;
    margin: 0px;
    padding: 0px;
}

.h5-card-span1, .h5-card-span2, .profile-list-call {
    color: #0F6AB6;
    /* text-align: right; */
}

.h5-card-span1, .h5-card-span2, .h5-card-span3 {
    margin: 0px;
    padding: 0px;
}

.h5-card-span2 {
    font-size: 10px !important;
}

.profile-img {
    width: 90%;
    height: auto;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
}


.view-profile{
    height: 22px;
    border: 2px solid #6D8496;
    border-radius: 11px;
    color: #6D8496; 
    font-size: 10px;
    display: inline;
    margin: 3px;
}

.profile-list-call-container {
    margin-top: 0px;
}

.profile-list-call {
    padding: 0%;
    margin: 0%;
}

.profile-list-call-text {
   font-size: 15px;
   font-weight: bold;
}

.search-result-body {
    background-color: #ffff;
}

.search-result-body-setting {
    margin-top: 20px;
    padding: 0px 10px;
}

.search-result-number {
    margin: 0px;
    padding: 0px;
}

@media screen and (max-width: 633px) {
    .profile-list-call-text {
       /* display: inline;  */
       margin: 0px;
       padding: 0px;
    }
    .profile-list-call{
      /* display: inline;  */
      margin-left: 14px;
      margin: 0px;
      padding: 0px;
    }
  }